/* mobile */
@media (max-width: 440px) {
  nav {
    right: 1rem;
  }
}

@media (max-width: 540px) {
  .logo {
    display: none;
  }

  /* IOS ADJUSTMENTS */

  .header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
      url(/img/header/header-query.jpg);
    background-position: center;
    background-attachment: scroll;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
  }

  .header .header-content {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 20rem auto 5rem;
  }

  #about {
    background-image: url("/img/header/background-3.jfif");
    background-position: center;
    background-attachment: scroll;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #gallery {
    background-image: url("/img/header/background-3.jfif");
    background-position: center;
    background-attachment: scroll;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #activities {
    background-image: url("/img/header/background-3.jfif");
    background-position: center;
    background-attachment: scroll;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* contact */
  #contact {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(/img/header/contact.jpg);
    background-position: center;
    background-attachment: scroll;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact-info {
    padding-left: 2rem;
    width: 100%;
  }
}

/* contact */
@media (max-width: 950px) {
  .container {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    margin: 3rem 5rem;
  }

  .contact-form h2 {
    font-size: 3rem;
  }

  .contact-form .text-box {
    width: 100%;
  }

  .contact-form .form .text-box:first-child {
    margin-bottom: 2rem;
  }
}
