@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --primary-color: rgba(255, 255, 255, 0.8);
  --secondary-color: rgba(34, 41, 70, 0.295);
}

body {
  font-family: "Koh Santepheap", cursive;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

/* ************** */
/* HEADINGS */
/* ************** */

h1 {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

h2 {
  font-size: 2.6rem;
  text-align: center;
}

h3 {
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
}
p {
  font-size: 1.5rem;
}

/* ************** */
/* UTILITIES */
/* ************** */

.btn {
  background-color: var(--secondary-color);
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
  border: 2px solid transparent;
  width: 20rem;
  border-radius: 15px;
  padding: 0.5rem 0;
  margin: 1.5rem 0;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #5290f9;

  color: #5290f9;
}

/* ************** */
/* HEADER */
/* ************** */

.header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url(/img/header/header-1.jpg) no-repeat center center/cover fixed;
  height: 100vh;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.full-nav {
  height: 10rem;
  width: 100%;
  position: fixed;
  top: 0;
  transition: 0.5s ease;
  display: flex;
  text-align: center;
}

.full-nav.sticky {
  background: rgba(0, 0, 0, 0.5);
  height: 8rem;
  z-index: 10;
  color: #000;
}

.logo {
  background: url("../img/logo/NK\ Styling-logos_white.png") no-repeat center
    center/cover;
  padding: 0 9rem 0 10rem !important;
  line-height: 8rem;
  font-size: 4rem;
  margin-left: 2rem;
}

nav {
  background-color: rgba(34, 41, 70, 0.295);
  padding: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
  transition: width 0.6s linear;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  right: 4rem;
  z-index: 5;
  transition: 0.3s ease;
}

nav.active {
  width: 350px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul a {
  position: relative;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.6rem;
}

.icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon .line {
  background-color: #5290f9;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;
}
.icon .line:active {
  outline: none;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}

/* header contant */
.header-content {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 8px;
  margin: 20rem 0 0 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* ************** */
/* ABOUT */
/* ************** */

#about {
  background: url("/img/header/background-3.jfif") no-repeat center center/cover
    fixed;
  position: relative;
  padding: 6rem 0 4rem;
  margin: 6rem 0 0 0;
  min-height: 100vh;
}

.about-container {
  /* position: relative; */
  /* background-color: #333; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about h2 {
  color: #fff;
  padding: 3rem 0 5rem 0;
}

#about p {
  color: #fff;
  /* background-color: #333; */
  font-size: 2rem;
  font-style: italic;
  max-width: 60rem;
  padding: 5rem 0 0 0;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* ************** */
/* GALLERY */
/* ************** */

#gallery {
  margin: 0 0 0 0;
  padding: 0 0 6rem;
  background: url("/img/header/background-3.jfif") no-repeat center center/cover
    fixed;
}

.gallery-container {
  max-width: 760px;
  margin: auto;
  border: #fff solid 3px;
  background: #fff;
}

.main-img {
  position: relative;
}

.main-img h3 {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-style: italic;
}

.main-img img,
.imgs img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.gallery-container .img {
  position: relative;
}

.gallery-container .img h6 {
  position: absolute;
  bottom: 1rem;
  left: 0;
}

/* fade i nanimation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

/* ************** */
/* SERVICES */
/* ************** */

/* @import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap"); */
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

#activities {
  margin: 0 0 5rem;
  padding: 10rem 0 5rem;
  background: url("/img/header/background-3.jfif") no-repeat center center/cover
    fixed;
}

.activities-header {
  margin-top: 2rem;
  padding-top: 1rem;
  font-style: italic;
  font-size: 3rem;
  color: #fff;
}

.activities-container .cards {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 5rem auto;
}

@media (min-width: 600px) {
  .activities-container .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .activities-container .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .card {
    height: 35rem;
  }
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
  background-image: url("/img/services/c1f969401db3e195421b786b1825d1ad.jpg");
  background-position: center;
}
.card:nth-child(2):before {
  background-image: url("/img/services/111ae90ad957b1c95f505650d323e15b\ \(1\).jpg");
  background-position: center;
}
.card:nth-child(3):before {
  background-image: url("/img/services/48f69a78a70f64de7763dfe76b2a565f\ \(1\).jpg");
  background-position: center;
}
.card:nth-child(4):before {
  background-image: url("/img/services/cb94c9cb81038918e9f9571d8dc17c32.jpg");
  background-position: center;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content > * + * {
  margin-top: 0.5rem;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1.15;
}

.btn-card {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.btn-card:hover {
  background-color: #0d0d0d;
}

.btn-card:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .card:hover,
  .card:focus-within {
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

/* ************** */
/* CONTACT */
/* ************** */
#contact {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/img/header/contact.jpg) no-repeat center center/cover fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  color: #fff;
  max-width: 50rem;
  line-height: 6.5rem;
  padding-left: 5rem;
  font-size: 4rem;
  /* background-color: #333; */
}
.contact-info span {
  font-size: 5rem;
  visibility: hidden;
}

.contact-info i {
  margin-right: 3rem;
  font-size: 3rem;
}

.contact-form {
  max-width: 70rem;
  margin-right: 5rem;
}

.contact-info,
.contact-form {
  flex: 1;
}

.sci {
  padding: 5rem 0 0 0;
}

.sci ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.contact-info .fab {
  font-size: 4rem;
  color: #fff;
  transition: 0.3s ease;
}

.contact-info .fab:hover {
  color: #333;
}

.contact-form h2 {
  color: #fff;
  text-align: center;
  font-size: 6rem;
  /* text-transform: uppercase; */
  margin-bottom: 3rem;
}

.contact-form .text-box {
  background: #000;
  color: #fff;
  border: none;
  width: calc(50% - 1rem);
  height: 5rem;
  padding: 1.2rem;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}

.contact-form .text-box:first-child {
  margin-right: 1.5rem;
}

.contact-form textarea {
  background: #000;
  color: #fff;
  border: none;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.5rem;
  min-height: 20rem;
  max-height: 40rem;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: 2rem 0 2rem 0;
  opacity: 0.9;
}

.contact-form .text-box:focus,
.contact-form textarea:focus {
  outline: none;
}

.contact-form .send-btn {
  float: right;
  background: #2e94e3;
  color: #fff;
  border: none;
  width: 12rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  transition: 0.3s;
  cursor: pointer;
}

.contact-form .send-btn:hover {
  background: #0582e3;
}

/* ************** */
/* FOOTER */
/* ************** */
/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2.4rem;
  background-color: #333;
  color: #f4f4f4;
}

.copyright {
  margin: 0;
  padding: 0.5rem;
}

html {
  scroll-behavior: smooth;
}
