@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Koh Santepheap", cursive;
  background: url(/img/header/header-1.jpg) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #fff;
  font-size: 5rem;
}
